body {
  background-color: #fbeb12d4;
}

/* Home page */
div.jumbotron {
  background-image: url("./assets/img/honeycomb.jpg");
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 0;
}

div.home-buttons {
  margin-top: 30px;
}

button.home-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 20px;
  color: black;
  font-size: calc(28px + 4vw);
  text-align: center;
}

button.home-button:hover {
  background-color: rgba(245, 245, 245, 0.255);
  color: darkslategrey
}

/* set background of <a> to completely transparent */
a.home-button, a.home-button:hover {
  background-color: rgba(255, 255, 255, 0);
}

img.home-img {
  max-width: calc(50px + 10vw);
}

/* navbar */
.nav-top {
  z-index: 1;
}

/* About section */
img.flower-img {
  max-width: 25vw;
}

h1.about-name {
  margin-top: 30px;
}

div.first-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

div.pic-column {
  text-align: center;
  padding-right: 20px;
}

img.profile-pic {
  max-width: calc(16px + 12vw);
  margin: 20px 0 20px 0;
  padding-right: 20px;
}

p.p-about {
  font-size: calc(12px + .5vw);
}

/* Skills Component*/
div.skills-col {
  background-color: black;
  color: white;
}
h2.vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: calc(14px + 4vw);
  margin: 20px 0 0 0;
  letter-spacing: calc(10px + 1vw);
  border: 3px solid white;
}

div.icon-col {
  margin-top: 30px;
  text-align: center;
}

svg.svgicon {
  font-size: calc(12px + 3vw);
  margin: 20px;
}

/* Projects */
h1.project-heading {
  text-align: center;
  font-weight: bold;
}

h2.project-heading {
  font-size: calc(12px + 2.2vw);
}

h3.project-heading {
  font-size: calc(10px + 2vw);
  font-style: italic;
}

div.project-row {
  background-color: rgb(41, 43, 44);
  margin: 30px 30px 30px 30px;
  color: white;
  text-align: center;
  padding: 20px;
}

img.project-img {
  width: calc(80px + 20vw);
}

a.project-link {
  background-color: #fbeb12;
  border: none;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

a.project-link:hover {
  background-color: #fbeb1265;
}

svg.project-link {
  font-size: 20px;
}

/* Contact */
div.contact-container {
  flex-direction: column;
}

h1.contact-heading, h2.contact-heading {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

h2.contact-heading {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 30px;
}

p.contact-phone {
  font-size: 30px;
}

a.contact-link {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  font-size: 30px;
  margin: 15px;
}

a.contact-link:hover {
  background-color: black;
  color: #fbeb12;
}

p.contact-link {
  text-align: center;
}

/* Footer */

div.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 47px;
}

footer.page-footer {
  color: #fbeb12;
  background-color: rgb(41, 43, 44);
  padding-top: 0px;
  margin-right: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.footer-copyright {
  background-color: rgb(41, 43, 44);

  margin: 0;
  justify-content: flex-end;
}

h6.footer-copyright {
  padding: 10px 10px 10px 0;
  text-align: right;
}

/* media queries */

/* change Skills Title to horizontal from vertical */
@media only screen and (max-width : 768px) {
  h2.vertical {
    writing-mode: horizontal-tb;
    margin-left: 20px;
  }

  div.icon-col {
    margin: 0 30px 0 30px;
  }
}


